# Only keep package list, not the actual package files
packrat/lib*/
packrat/src
packrat/src/*

# Remove data files 
*.rds
*.csv
*.sav
*.rds
*.docx
*.Rmd

# Other files that don't need tracking
*.DS_Store
Rhistory
tmp
tmp/*